# Working with Data - Computer Lab for Guest Lecture Julia Lane

In this computer lab we will learn more more details and practice data work to enhance the content of the lecture presented by Julia Lane on responsible data use. We will address a research question, think about data and measurement errors, and manipulate data. 

OUTLINE: 
1. Define a research question 
2. Think about what data are available 
3. Think about possible measurement errors 
4. Think about the interpretation of your results 
5. Inform your results by linking datasets

# 1. Define a reserach question
Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available
Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog. You can use Urban Profiler to investigate the Metadata associated with each dataset. Using this tool will help you to decide which attributes of the data you need to answer your question so you don't have to load the entire dataset.

In [107]:
import os
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import pylab as pl
import statsmodels.api as sm
import statsmodels.formula.api as smf
PUIdata = os.getenv('PUIDATA')

In [2]:
os.getenv('PUIDATA')

'/home/cusp/xg656/PUIdata'

In [3]:
data = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9')
# Load dataset

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,17,39,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data.columns.values

array(['Unique Key', 'Created Date', 'Closed Date', 'Agency',
       'Agency Name', 'Complaint Type', 'Descriptor', 'Location Type',
       'Incident Zip', 'Incident Address', 'Street Name', 'Cross Street 1',
       'Cross Street 2', 'Intersection Street 1', 'Intersection Street 2',
       'Address Type', 'City', 'Landmark', 'Facility Type', 'Status',
       'Due Date', 'Resolution Description',
       'Resolution Action Updated Date', 'Community Board', 'Borough',
       'X Coordinate (State Plane)', 'Y Coordinate (State Plane)',
       'Park Facility Name', 'Park Borough', 'School Name',
       'School Number', 'School Region', 'School Code',
       'School Phone Number', 'School Address', 'School City',
       'School State', 'School Zip', 'School Not Found',
       'School or Citywide Complaint', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location',
       'Bridge Highway Name', 'Bridge Highway Direction', 'Road Ramp',
       'Bridge Highway Segment', 'Garage Lot Name', 'Ferry Direction',
       'Ferry Terminal Name', 'Latitude', 'Longitude', 'Location'], dtype=object)

# 3. Think about possible measurement errors
Do you see any problems regarding possible measurement error? Think about who is represented in the data, ommissions, duplications, content error, missing data, etc.

In [5]:
data.head(2)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31911011,11/05/2015 02:59:15 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)"
1,31908754,11/05/2015 02:09:49 AM,NaN,CHALL,CHALL,Opinion for the Mayor,HOUSING,NaN,NaN,NaN,...,NaN,NaN,NaN,1-1-1173130914,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Check if all Boroughs and Community Districts are represented in the Data

In [7]:
len(data)

10187766

In [8]:
data_unique = data.drop_duplicates(subset='Unique Key', take_last=True)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
  if __name__ == '__main__':

In [9]:
sorted(data_unique['Community Board'].unique())

['0 Unspecified',
 '01 BRONX',
 '01 BROOKLYN',
 '01 MANHATTAN',
 '01 QUEENS',
 '01 STATEN ISLAND',
 '02 BRONX',
 '02 BROOKLYN',
 '02 MANHATTAN',
 '02 QUEENS',
 '02 STATEN ISLAND',
 '03 BRONX',
 '03 BROOKLYN',
 '03 MANHATTAN',
 '03 QUEENS',
 '03 STATEN ISLAND',
 '04 BRONX',
 '04 BROOKLYN',
 '04 MANHATTAN',
 '04 QUEENS',
 '05 BRONX',
 '05 BROOKLYN',
 '05 MANHATTAN',
 '05 QUEENS',
 '06 BRONX',
 '06 BROOKLYN',
 '06 MANHATTAN',
 '06 QUEENS',
 '07 BRONX',
 '07 BROOKLYN',
 '07 MANHATTAN',
 '07 QUEENS',
 '08 BRONX',
 '08 BROOKLYN',
 '08 MANHATTAN',
 '08 QUEENS',
 '09 BRONX',
 '09 BROOKLYN',
 '09 MANHATTAN',
 '09 QUEENS',
 '10 BRONX',
 '10 BROOKLYN',
 '10 MANHATTAN',
 '10 QUEENS',
 '11 BRONX',
 '11 BROOKLYN',
 '11 MANHATTAN',
 '11 QUEENS',
 '12 BRONX',
 '12 BROOKLYN',
 '12 MANHATTAN',
 '12 QUEENS',
 '13 BROOKLYN',
 '13 QUEENS',
 '14 BROOKLYN',
 '14 QUEENS',
 '15 BROOKLYN',
 '16 BROOKLYN',
 '17 BROOKLYN',
 '18 BROOKLYN',
 '26 BRONX',
 '27 BRONX',
 '28 BRONX',
 '55 BROOKLYN',
 '56 BROOKLYN',
 '64 MANHATTAN',
 '80 QUEENS',
 '81 QUEENS',
 '82 QUEENS',
 '83 QUEENS',
 '84 QUEENS',
 '95 STATEN ISLAND',
 'Unspecified BRONX',
 'Unspecified BROOKLYN',
 'Unspecified MANHATTAN',
 'Unspecified QUEENS',
 'Unspecified STATEN ISLAND']

In [10]:
len(data_unique['Community Board'].unique())

77

In [11]:
#All Boroughs and Community Districts are represented in the Data . But there's more.

In [12]:
# There are 77 unique values.

In [13]:
# There are some values with 'Unspecified'. Besides, there are numbers greater than 18.

In [14]:
sorted(data_unique['Community Board'].unique()).index('18 BROOKLYN')

59

In [15]:
sorted(data_unique['Community Board'].unique()).index('Unspecified BRONX')

72

In [16]:
sorted(data_unique['Community Board'].unique())[60:72]

['26 BRONX',
 '27 BRONX',
 '28 BRONX',
 '55 BROOKLYN',
 '56 BROOKLYN',
 '64 MANHATTAN',
 '80 QUEENS',
 '81 QUEENS',
 '82 QUEENS',
 '83 QUEENS',
 '84 QUEENS',
 '95 STATEN ISLAND']

In [17]:
sorted(data_unique['Community Board'].unique())[60:]

['26 BRONX',
 '27 BRONX',
 '28 BRONX',
 '55 BROOKLYN',
 '56 BROOKLYN',
 '64 MANHATTAN',
 '80 QUEENS',
 '81 QUEENS',
 '82 QUEENS',
 '83 QUEENS',
 '84 QUEENS',
 '95 STATEN ISLAND',
 'Unspecified BRONX',
 'Unspecified BROOKLYN',
 'Unspecified MANHATTAN',
 'Unspecified QUEENS',
 'Unspecified STATEN ISLAND']

In [18]:
data_unique['marker'] = data_unique['Community Board'].str.contains('Unspecified|26|27|28|55|56|64|80|81|82|83|84|95')

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [19]:
data_59 = data_unique[data_unique['marker'] == False]

In [20]:
# The data with unwanted removed
data_cut = data_59

In [21]:
sorted(data_59['Community Board'].unique())

['01 BRONX',
 '01 BROOKLYN',
 '01 MANHATTAN',
 '01 QUEENS',
 '01 STATEN ISLAND',
 '02 BRONX',
 '02 BROOKLYN',
 '02 MANHATTAN',
 '02 QUEENS',
 '02 STATEN ISLAND',
 '03 BRONX',
 '03 BROOKLYN',
 '03 MANHATTAN',
 '03 QUEENS',
 '03 STATEN ISLAND',
 '04 BRONX',
 '04 BROOKLYN',
 '04 MANHATTAN',
 '04 QUEENS',
 '05 BRONX',
 '05 BROOKLYN',
 '05 MANHATTAN',
 '05 QUEENS',
 '06 BRONX',
 '06 BROOKLYN',
 '06 MANHATTAN',
 '06 QUEENS',
 '07 BRONX',
 '07 BROOKLYN',
 '07 MANHATTAN',
 '07 QUEENS',
 '08 BRONX',
 '08 BROOKLYN',
 '08 MANHATTAN',
 '08 QUEENS',
 '09 BRONX',
 '09 BROOKLYN',
 '09 MANHATTAN',
 '09 QUEENS',
 '10 BRONX',
 '10 BROOKLYN',
 '10 MANHATTAN',
 '10 QUEENS',
 '11 BRONX',
 '11 BROOKLYN',
 '11 MANHATTAN',
 '11 QUEENS',
 '12 BRONX',
 '12 BROOKLYN',
 '12 MANHATTAN',
 '12 QUEENS',
 '13 BROOKLYN',
 '13 QUEENS',
 '14 BROOKLYN',
 '14 QUEENS',
 '15 BROOKLYN',
 '16 BROOKLYN',
 '17 BROOKLYN',
 '18 BROOKLYN']

In [22]:
data_cut.isnull().sum()

Unique Key                              0
Created Date                            0
Closed Date                        364858
Agency                                  0
Agency Name                             0
Complaint Type                          0
Descriptor                          30545
Location Type                     2110441
Incident Zip                        20407
Incident Address                  1474297
Street Name                       1474335
Cross Street 1                    1786897
Cross Street 2                    1791829
Intersection Street 1             6701609
Intersection Street 2             6701519
Address Type                        89250
City                                20217
Landmark                          8108281
Facility Type                     6505546
Status                                  0
Due Date                          5331860
Resolution Description            3021181
Resolution Action Updated Date     157289
Community Board                         0
Borough                                 0
X Coordinate (State Plane)          85468
Y Coordinate (State Plane)          85468
Park Facility Name                      0
Park Borough                            0
School Name                             0
School Number                        1508
School Region                       43866
School Code                         43865
School Phone Number                     0
School Address                          6
School City                             0
School State                            0
School Zip                              1
School Not Found                  5395969
School or Citywide Complaint      8108819
Vehicle Type                      8104185
Taxi Company Borough              8101544
Taxi Pick Up Location             8021276
Bridge Highway Name               8087104
Bridge Highway Direction          8087104
Road Ramp                         8087322
Bridge Highway Segment            8087322
Garage Lot Name                   8106590
Ferry Direction                   8110923
Ferry Terminal Name               8109026
Latitude                            85468
Longitude                           85468
Location                            85468
marker                                  0
dtype: int64

In [23]:
#The missing values are shown above

In [24]:
#Fit the missing value
data_cut['Resolution Description'].fillna(data_cut['Complaint Type'], inplace = 1)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/pandas/core/generic.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [25]:
#check that if there's still missing value exist
data_cut['Resolution Description'].isnull().sum()

0

In [26]:
data_cut['count'] = 1

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [27]:
data_groupby = data_cut.groupby('Community Board').sum().sort(['count'], ascending = 0)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [28]:
data_groupby = data_groupby['count']

In [29]:
dftemp = data_cut.groupby(['Community Board']).sum()

In [30]:
df_complaint = pd.DataFrame(dftemp, columns = ['count'])
del df_complaint.index.name
df_complaint.head()

                   count
01 BRONX           74631
01 BROOKLYN       185057
01 MANHATTAN       77974
01 QUEENS         171484
01 STATEN ISLAND  182708

In [31]:
df_complain = pd.DataFrame(data_groupby)
df_complain.head()

                  count
Community Board
12 MANHATTAN     268053
12 QUEENS        229383
03 BROOKLYN      197305
07 QUEENS        195961
17 BROOKLYN      191720

In [32]:
# Safe reduced data frame (Community District level)

# 4. Think about the interpretation of your results?
What do you have to keep in mind when interpreting your results? Are they generable? Does the way the data is collected influence your results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to your analysis data.

In [33]:
#df_final = pd.merge(leftdf_samle,rigt=df_ext, how='leaft', left_on='Community Board new', right_on='cd_id')

In [34]:
# Population by Community District
df_pop = pd.read_csv(PUIdata + "/Final_Demographics.csv")

In [35]:
# Check variables in file
df_pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [36]:
# How many community districts are in file?

In [37]:
len(df_pop['cd_id'].unique())

59

In [38]:
# Manipulate data to get some information on demographics by Community District. 
# Think about who might be more likely to call 311

In [39]:
df_pop_groupby = df_pop.groupby(['cd_id']).sum()

In [40]:
pop_list = [u'% Total Population: 18 to 24 Years',\
               u'% Total Population: 25 to 34 Years',\
               u'% Total Population: 35 to 44 Years']

In [41]:
df_adult = df_pop_groupby[pop_list]

In [42]:
df_adult = pd.DataFrame(df_adult.sum(axis = 1), columns = ['% Total Populaiton: 18 to 44 Years'])
del df_adult.index.name
df_adult.head()

      % Total Populaiton: 18 to 44 Years
BK01                               52.10
BK02                               49.30
BK03                               43.73
BK04                               52.33
BK05                               39.07

In [43]:
# Infrastructure by Community District
df_infr = pd.read_csv(PUIdata + "/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [44]:
# Check variables in file
df_infr.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [45]:
df_infr_groupby = df_infr.groupby(['Qualifying Name']).sum()

In [46]:
# How many community districts are in file? 
len(df_infr['Qualifying Name'].unique())

55

In [47]:
df_infr.columns

Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer'],
      dtype='object')

In [48]:
# Manipulate data to get some information on internet/broadband useage by Community District
df_infr_groupby = df_infr.groupby(['Qualifying Name']).sum()

In [49]:
#mobile_list = df_infr_groupby.columns[df_infr_groupby.columns.str.contains('Mobile') == 1]

In [50]:
# Aggregate the mobile subscription data
#df_infr_mobile = df_infr_groupby[mobile_list]
#df_infr_mobile.head()

In [51]:
mobile_list = [u'Households: With Mobile Broadband',\
               u'Households: With Mobile Broadband.1',\
               u'Households: With Mobile Broadband.2',\
               u'Households: With Mobile Broadband.3',\
               u'Households: With Mobile Broadband.4',\
               u'Households: Mobile Broadband Alone or With Dialup']

In [52]:
df_infr_mobile = df_infr_groupby[mobile_list]

In [53]:
df_mobile = pd.DataFrame(df_infr_mobile.sum(axis = 1), columns = ['With mobile'])
df_mobile.head()

                                                    With mobile
Qualifying Name
NYC-Bronx Community District 1 & 2--Hunts Point...        31962
NYC-Bronx Community District 10--Co-op City, Ne...        12064
NYC-Bronx Community District 11--Pelham Parkway...        11749
NYC-Bronx Community District 12--Wakefield, New...        11414
NYC-Bronx Community District 3 & 6--Belmont, Ne...        32584

In [54]:
nomobile_list = [u'Households: Without Mobile Broadband',\
               u'Households: Without Mobile Broadband.1',\
               u'Households: Without Mobile Broadband.2',\
               u'Households: Without Mobile Broadband.3',\
               u'Households: Without Mobile Broadband.4']

In [55]:
df_infr_nomobile = df_infr_groupby[nomobile_list]

In [56]:
df_nomobile = pd.DataFrame(df_infr_nomobile.sum(axis = 1), columns = ['Without mobile'])
df_nomobile.head()

                                                    Without mobile
Qualifying Name
NYC-Bronx Community District 1 & 2--Hunts Point...           33464
NYC-Bronx Community District 10--Co-op City, Ne...           20507
NYC-Bronx Community District 11--Pelham Parkway...           20113
NYC-Bronx Community District 12--Wakefield, New...           20651
NYC-Bronx Community District 3 & 6--Belmont, Ne...           38246

In [57]:
df_mobile_or_not = df_mobile.copy()
df_mobile_or_not['Without mobile'] = df_nomobile['Without mobile']
df_mobile_or_not.head()

,With mobile,Without mobile
Qualifying Name,,
"NYC-Bronx Community District 1 & 2--Hunts Point, New York",31962,33464
"NYC-Bronx Community District 10--Co-op City, New York",12064,20507
"NYC-Bronx Community District 11--Pelham Parkway, New York",11749,20113
"NYC-Bronx Community District 12--Wakefield, New York",11414,20651
"NYC-Bronx Community District 3 & 6--Belmont, New York",32584,38246

In [58]:
# Aggregate internet type by high and low connections

In [59]:
internet_list_low = [u'Households: Dial-Up Alone',\
                     u'Households: Mobile Broadband Alone or With Dialup', \
                     u'Households: Internet Access Without A Subscription']
internet_list_high = [u'Households: Cable Modem', u'Households: Fiber-Optic', u'Households: Dsl',\
                      u'Households: Two or More Fixed Broadband Types, or Other',\
                      u'Households: Satellite Internet Service',]

In [60]:
df_infr_internet_high = df_infr_groupby[internet_list_high]
df_infr_internet_high.head()

,Households: Cable Modem,Households: Fiber-Optic,Households: Dsl,"Households: Two or More Fixed Broadband Types, or Other",Households: Satellite Internet Service
Qualifying Name,,,,,
"NYC-Bronx Community District 1 & 2--Hunts Point, New York",34562,4188,1964,20418,2290
"NYC-Bronx Community District 10--Co-op City, New York",20044,3490,1863,6535,0
"NYC-Bronx Community District 11--Pelham Parkway, New York",17917,5435,1478,5723,308
"NYC-Bronx Community District 12--Wakefield, New York",18653,6216,849,5288,131
"NYC-Bronx Community District 3 & 6--Belmont, New York",31694,3020,2594,30364,388

In [61]:
df_infr_internet_low = df_infr_groupby[internet_list_low]
Low_Internet = pd.DataFrame(df_infr_internet_low.sum(axis = 1), columns=['Low Internet Access'])
del Low_Internet.index.name
Low_Internet.head()

                                                    Low Internet Access
NYC-Bronx Community District 1 & 2--Hunts Point...                 6828
NYC-Bronx Community District 10--Co-op City, Ne...                 3679
NYC-Bronx Community District 11--Pelham Parkway...                 3864
NYC-Bronx Community District 12--Wakefield, New...                 2997
NYC-Bronx Community District 3 & 6--Belmont, Ne...                 9570

In [62]:
df_infr_internet_high = df_infr_groupby[internet_list_high]
High_Internet = pd.DataFrame(df_infr_internet_high.sum(axis = 1), columns=['High Internet Access'])
High_Internet.head()

                                                    High Internet Access
NYC-Bronx Community District 1 & 2--Hunts Point...                 63422
NYC-Bronx Community District 10--Co-op City, Ne...                 31932
NYC-Bronx Community District 11--Pelham Parkway...                 30861
NYC-Bronx Community District 12--Wakefield, New...                 31137
NYC-Bronx Community District 3 & 6--Belmont, Ne...                 68060

In [63]:
#df_infr.iloc[:,[2, 8, 11, 14, 17, 20, 22]]

In [64]:
df_infr_summary = df_mobile_or_not.copy()
df_infr_summary['High Internet Access'] = High_Internet['High Internet Access']
df_infr_summary['Low Internet Access'] = Low_Internet['Low Internet Access']
df_infr_summary.head()

,With mobile,Without mobile,High Internet Access,Low Internet Access
Qualifying Name,,,,
"NYC-Bronx Community District 1 & 2--Hunts Point, New York",31962,33464,63422,6828
"NYC-Bronx Community District 10--Co-op City, New York",12064,20507,31932,3679
"NYC-Bronx Community District 11--Pelham Parkway, New York",11749,20113,30861,3864
"NYC-Bronx Community District 12--Wakefield, New York",11414,20651,31137,2997
"NYC-Bronx Community District 3 & 6--Belmont, New York",32584,38246,68060,9570

In [65]:
# Save data frame

# 5. Inform your results by linking datasets
Now you want to link the three data frames to produce summary statistics for Community Districts which show a high number of complaints vs. Community Districts which show a lower number of complaints. Please keep in mind that the identifiers used for the linkage (Community Dostrict IDs) should be recored the same way. Use regular expressions to harmonize the identifiers if possible. The identifiers should look like BK01, BK02, etc.
https://docs.python.org/2/library/re.html

In [66]:
#dataset1

In [67]:
temp = df_complaint.index.copy()

In [68]:
df_test = df_complaint

In [69]:
index_complaint = df_complaint.index
index_complaint = index_complaint.str.replace("BRONX", "BX")
index_complaint = index_complaint.str.replace("BROOKLYN", "BK")
index_complaint = index_complaint.str.replace("MANHATTAN", "MN")
index_complaint = index_complaint.str.replace("QUEENS", "QN")
index_complaint = index_complaint.str.replace("STATEN ISLAND", "SI")
index_complaint = index_complaint.str.replace(" ", "")

In [70]:
array_complaint = np.asarray(index_complaint)

In [71]:
for i in range (0, len(index_complaint)):
    temp = index_complaint[i][2:4]
    temp2 = index_complaint[i].replace(index_complaint[i][2:4], index_complaint[i][0:2])
    temp2 = temp2.replace(temp2[0:2], temp,1)
    index_complaint = index_complaint.str.replace(index_complaint[i],temp2)

In [72]:
index_complaint

Index([u'BX01', u'BK01', u'MN01', u'QN01', u'SI01', u'BX02', u'BK02', u'MN02',
       u'QN02', u'SI02', u'BX03', u'BK03', u'MN03', u'QN03', u'SI03', u'BX04',
       u'BK04', u'MN04', u'QN04', u'BX05', u'BK05', u'MN05', u'QN05', u'BX06',
       u'BK06', u'MN06', u'QN06', u'BX07', u'BK07', u'MN07', u'QN07', u'BX08',
       u'BK08', u'MN08', u'QN08', u'BX09', u'BK09', u'MN09', u'QN09', u'BX10',
       u'BK10', u'MN10', u'QN10', u'BX11', u'BK11', u'MN11', u'QN11', u'BX12',
       u'BK12', u'MN12', u'QN12', u'BK13', u'QN13', u'BK14', u'QN14', u'BK15',
       u'BK16', u'BK17', u'BK18'],
      dtype='object')

In [73]:
df_complaint['index'] = index_complaint
df_complaint.head()

                   count index
01 BRONX           74631  BX01
01 BROOKLYN       185057  BK01
01 MANHATTAN       77974  MN01
01 QUEENS         171484  QN01
01 STATEN ISLAND  182708  SI01

In [74]:
#dataset 2

In [75]:
df_adult['index'] = df_adult.index
df_adult['index']['MN11111'] = 'MN11'
df_adult.head()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

      % Total Populaiton: 18 to 44 Years index
BK01                               52.10  BK01
BK02                               49.30  BK02
BK03                               43.73  BK03
BK04                               52.33  BK04
BK05                               39.07  BK05

In [76]:
#merge dataset1 and 2

In [77]:
df_final = pd.merge(left = df_complaint, right=df_adult, how='inner', left_on='index', right_on='index')
df_final.head()

    count index  % Total Populaiton: 18 to 44 Years
0   74631  BX01                               43.06
1  185057  BK01                               52.10
2   77974  MN01                               55.07
3  171484  QN01                               52.12
4  182708  SI01                               38.95

In [78]:
def df_sum_final(i,j):
    df_final['count'][i] = df_final['count'][i] + df_final['count'][j]
    df_final['% Total Populaiton: 18 to 44 Years'][i] = df_final['% Total Populaiton: 18 to 44 Years'][i] \
                                                        + df_final['% Total Populaiton: 18 to 44 Years'][j]
    df_final['index'][i] = df_final['index'][i] + df_final['index'][j][2] + df_final['index'][j][3]
    df_final.drop([j], inplace = 1, axis = 0)

In [79]:
df_sum_final(0,5)
df_sum_final(10,23)
df_sum_final(2,7)
df_sum_final(17,21)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [80]:
df_final

     count   index  % Total Populaiton: 18 to 44 Years
0   134888  BX0102                               86.12
1   185057    BK01                               52.10
2   211834  MN0102                              110.14
3   171484    QN01                               52.12
4   182708    SI01                               38.95
6   121021    BK02                               49.30
8   114333    QN02                               47.51
9   121132    SI02                               32.81
10  174681  BX0306                               83.02
11  197305    BK03                               43.73
12  150296    MN03                               45.56
13  122009    QN03                               43.64
14  136487    SI03                               33.18
15  181953    BX04                               37.79
16  139702    BK04                               52.33
17  274687  MN0405                              112.08
18   99316    QN04                               42.89
19  161078    BX05                               41.40
20  189765    BK05                               39.07
22  168570    QN05                               39.42
24  114029    BK06                               48.69
25  104249    MN06                               49.97
26   90938    QN06                               34.53
27  185729    BX07                               40.87
28  107031    BK07                               44.92
29  151419    MN07                               38.00
30  195961    QN07                               36.45
31   92733    BX08                               37.09
32  141118    BK08                               46.30
33  149076    MN08                               43.95
34  123131    QN08                               38.72
35  147457    BX09                               38.91
36  135830    BK09                               44.07
37  127564    MN09                               51.05
38  151242    QN09                               41.81
39   95496    BX10                               35.14
40  111837    BK10                               38.33
41  137344    MN10                               44.47
42  128116    QN10                               36.60
43  122079    BX11                               39.62
44  139890    BK11                               37.99
45   95413    MN11                               43.83
46  101908    QN11                               33.00
47  168455    BX12                               38.21
48  150320    BK12                               35.49
49  268053    MN12                               45.48
50  229383    QN12                               37.69
51   72362    BK13                               29.94
52  163851    QN13                               35.49
53  187792    BK14                               38.96
54  103396    QN14                               29.78
55  146129    BK15                               33.09
56   85466    BK16                               37.74
57  191720    BK17                               37.38
58  156100    BK18                               37.11

In [81]:
index_mobile = df_infr_summary.index

In [82]:
def Find (pat, txt):
    match = re.search(pat, txt)
    if match: 
        return 1
    else:
        return 0

In [83]:
new_index_mobile1 = np.asarray(index_mobile).copy()

In [84]:
for i in range(0, len(index_mobile)):
    if Find('Bronx Community District', index_mobile[i]):
        new_index_mobile1[i] = 'BX'
    elif Find('Brooklyn Community District', index_mobile[i]):
        new_index_mobile1[i] ='BK'
    elif Find('Manhattan Community District', index_mobile[i]):
        new_index_mobile1[i] ='MN'
    elif Find('Queens Community District', index_mobile[i]):
        new_index_mobile1[i] ='QN'
    else:
        new_index_mobile1[i] ='SI'

In [85]:
new_index_mobile2 = np.asarray(index_mobile).copy()

In [86]:
for i in range(0, len(index_mobile)):
    temp = re.search('(?<=District )\w+', index_mobile[i]).group()
    if len(temp) == 2:
        new_index_mobile2[i] = temp
    else:
        new_index_mobile2[i] = '0' + temp

In [87]:
new_index = new_index_mobile2.copy()

In [88]:
for i in range(0, len(new_index_mobile1)):
    new_index[i] = new_index_mobile1[i] + new_index_mobile2[i]

In [89]:
new_index[0] = 'BX0102'
new_index[4] = 'BX0306'
new_index[28] = 'MN0102'
new_index[33] = 'MN0405'

In [90]:
new_index

array(['BX0102', 'BX10', 'BX11', 'BX12', 'BX0306', 'BX04', 'BX05', 'BX07',
       'BX08', 'BX09', 'BK01', 'BK10', 'BK11', 'BK12', 'BK13', 'BK14',
       'BK15', 'BK16', 'BK17', 'BK18', 'BK02', 'BK03', 'BK04', 'BK05',
       'BK06', 'BK07', 'BK08', 'BK09', 'MN0102', 'MN10', 'MN11', 'MN12',
       'MN03', 'MN0405', 'MN06', 'MN07', 'MN08', 'MN09', 'QN01', 'QN10',
       'QN11', 'QN12', 'QN13', 'QN14', 'QN02', 'QN03', 'QN04', 'QN05',
       'QN06', 'QN07', 'QN08', 'QN09', 'SI01', 'SI02', 'SI03'], dtype=object)

In [91]:
df_infr_summary['index'] = new_index

In [92]:
#Merge 1,2 and 3

In [93]:
df_final = pd.merge(left = df_final, right=df_infr_summary, how='inner', left_on='index', right_on='index')

In [94]:
#swap first two columns
col_list = list(df_final)
col_list[0], col_list[1] = col_list[1], col_list[0]
temp = df_final['count']
df_final['count'] = df_final['index']
df_final['index'] = temp
df_final.columns = col_list

In [95]:
col_list[0] = 'Community Districts'
df_final.columns = col_list
df_final.head()
# the linked data

,Community Districts,count,% Total Populaiton: 18 to 44 Years,With mobile,Without mobile,High Internet Access,Low Internet Access
0,BX0102,134888,86.12,31962,33464,63422,6828
1,BK01,185057,52.10,21459,25105,44621,4843
2,MN0102,211834,110.14,82900,66224,145534,10032
3,QN01,171484,52.12,31144,30440,60125,3551
4,SI01,182708,38.95,11151,35873,46304,2222

In [151]:
df_numerical = df_final.drop(['Community Districts'], axis = 1).astype(float)

In [152]:
df_numerical.reindex()

,count,% Total Populaiton: 18 to 44 Years,With mobile,Without mobile,High Internet Access,Low Internet Access
0,134888.0,86.12,31962.0,33464.0,63422.0,6828.0
1,185057.0,52.10,21459.0,25105.0,44621.0,4843.0
2,211834.0,110.14,82900.0,66224.0,145534.0,10032.0
3,171484.0,52.12,31144.0,30440.0,60125.0,3551.0
4,182708.0,38.95,11151.0,35873.0,46304.0,2222.0
5,121021.0,49.30,18679.0,27131.0,44284.0,4124.0
6,114333.0,47.51,14616.0,29509.0,43179.0,2592.0
7,121132.0,32.81,11206.0,23790.0,34014.0,2203.0
8,174681.0,83.02,32584.0,38246.0,68060.0,9570.0
9,197305.0,43.73,12648.0,20680.0,29116.0,6005.0
10,150296.0,45.56,20868.0,24981.0,43713.0,7457.0
11,122009.0,43.64,9750.0,30609.0,39286.0,2805.0
12,136487.0,33.18,14334.0,34884.0,48500.0,2539.0
13,181953.0,37.79,18342.0,10718.0,26686.0,6391.0
14,139702.0,52.33,14171.0,19143.0,28064.0,7152.0
15,274687.0,112.08,69988.0,70040.0,134872.0,11922.0
16,99316.0,42.89,8440.0,25000.0,32202.0,2207.0
17,161078.0,41.40,15857.0,10421.0,25216.0,4096.0
18,189765.0,39.07,9572.0,27807.0,35899.0,3362.0
19,168570.0,39.42,9845.0,38312.0,47314.0,2012.0
20,114029.0,48.69,23815.0,20898.0,43121.0,2363.0
21,104249.0,49.97,39450.0,30515.0,68631.0,3801.0
22,90938.0,34.53,13715.0,27559.0,39984.0,3109.0
23,185729.0,40.87,16709.0,14759.0,29844.0,6279.0
24,107031.0,44.92,12123.0,23518.0,34227.0,2643.0
25,151419.0,38.00,49546.0,35922.0,81017.0,7578.0
26,195961.0,36.45,23421.0,44875.0,66855.0,2837.0
27,92733.0,37.09,17527.0,13824.0,29183.0,4731.0
28,141118.0,46.30,10559.0,24393.0,34262.0,2663.0
29,149076.0,43.95,63973.0,38971.0,98992.0,7073.0
30,123131.0,38.72,15239.0,28425.0,42641.0,2507.0
31,147457.0,38.91,12892.0,32904.0,44133.0,3714.0
32,135830.0,44.07,8591.0,19761.0,28039.0,1880.0
33,127564.0,51.05,17556.0,17558.0,33337.0,3784.0
34,151242.0,41.81,11481.0,24481.0,34519.0,2750.0
35,95496.0,35.14,12064.0,20507.0,31932.0,3679.0
36,111837.0,38.33,19341.0,18315.0,37006.0,2715.0
37,137344.0,44.47,14746.0,21556.0,35118.0,4077.0
38,128116.0,36.60,10916.0,19032.0,28640.0,2871.0
39,122079.0,39.62,11749.0,20113.0,30861.0,3864.0
40,139890.0,37.99,17710.0,28252.0,45080.0,3552.0
41,95413.0,43.83,10434.0,19732.0,28465.0,3968.0
42,101908.0,33.00,16201.0,21081.0,36643.0,1339.0
43,168455.0,38.21,11414.0,20651.0,31137.0,2997.0
44,150320.0,35.49,11935.0,15925.0,25665.0,4861.0
45,268053.0,45.48,26592.0,30042.0,52061.0,7016.0
46,229383.0,37.69,15241.0,38093.0,47241.0,8144.0
47,72362.0,29.94,7779.0,20268.0,27667.0,1851.0
48,163851.0,35.49,13931.0,36016.0,47111.0,4807.0
49,187792.0,38.96,16540.0,28278.0,43202.0,4053.0
50,103396.0,29.78,6905.0,21758.0,27962.0,2533.0
51,146129.0,33.09,13969.0,26150.0,39015.0,3159.0
52,85466.0,37.74,5927.0,19381.0,24666.0,2758.0
53,191720.0,37.38,13596.0,21823.0,34523.0,2336.0
54,156100.0,37.11,19215.0,34862.0,53091.0,3813.0

In [163]:
Y = df_numerical["count"]
X = df_numerical.drop("count", axis=1)

In [167]:
fitted = sm.OLS(Y,X).fit()
fitted.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  count   R-squared:                       0.942
Model:                            OLS   Adj. R-squared:                  0.936
Method:                 Least Squares   F-statistic:                     161.9
Date:                Wed, 16 Nov 2016   Prob (F-statistic):           1.21e-29
Time:                        23:11:08   Log-Likelihood:                -656.58
No. Observations:                  55   AIC:                             1323.
Df Residuals:                      50   BIC:                             1333.
Df Model:                           5
Covariance Type:            nonrobust
======================================================================================================
                                         coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------------------------------
% Total Populaiton: 18 to 44 Years   898.3032    525.359      1.710      0.093      -156.911  1953.518
With mobile                            6.5686      8.046      0.816      0.418        -9.592    22.729
Without mobile                        11.8500      7.835      1.512      0.137        -3.887    27.587
High Internet Access                  -8.7128      7.982     -1.092      0.280       -24.745     7.320
Low Internet Access                    9.8292      6.082      1.616      0.112        -2.387    22.045
==============================================================================
Omnibus:                        0.422   Durbin-Watson:                   2.242
Prob(Omnibus):                  0.810   Jarque-Bera (JB):                0.583
Skew:                           0.145   Prob(JB):                        0.747
Kurtosis:                       2.587   Cond. No.                     6.35e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.35e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
#Low Internet Access ,without phones and number of population in 18 to 44 Years contribute to complaints.
#In other words, High Internet Access, with phones or few number of population in 18 to 44 will led to less complaints.